// ABOUT PAGE
.page-template-page-about {

  .overview {
		padding-top: 1em;

		.subflex {
		  display: flex;
		  width: 100%; // ie 10/11 fix
		  flex-direction: column;
		  padding-top: 2em;

		  .title {
		    flex: 1.6;

		    h1 {
		    	padding: 0;
		    }
		  }

		  .text {
		    flex: 2;
		    padding-top: 1em;
		  }
		}

  } // .overview

  .history { // HISTORY
    @include bleeding-margin($green1);
    padding-bottom: 1em;
    color: #fff;

    .image {
      display: none;
    }

    h2 {
      color: #fff;
    }
  }

  .staff {  // STAFF
    @include bleeding-margin($green3);
    padding-bottom: 1em;

    .image {
      display: none;
    }
    .text {
      //padding-bottom: 1em;
    }
  }

  .associations {
    .image {
      padding-top: 1em;
    }
  }



  /************ media queries ***************
  *******************************************/

  @media only screen and (min-width: 760px) {

    .overview {
      padding-bottom: 2em;

      h1 {
        padding: 0;
      }

      .subflex {
 				flex-direction: row;
      	padding-top: 3em;

        .title {
          flex: 1.6;
          padding-right: 2em;
        }

        .text {
          flex: 2;
          padding-right: 0em;
          padding-top: 0em;
        }
      }
    }

    .history {
      display: flex;
      padding-top: 0;
      margin-top: 0;

      .image {
        display: block;
        padding-top: 3.5em;
        padding-right: 3em;
        padding-left: 2em;
      }
      .text {
        flex: 1;
        padding-top: 0px;
        padding-right: 6em;
        padding-bottom: 2em;
      }
    }

    // staff
    .staff {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 0em;

      .subflex {
        flex: 2.5;
        padding-right: 1em;
        padding-left: 11em;
        //padding-bottom: 2em;

        .title {
          padding-left: 2em;
        }
        .text {
          padding-bottom: 3em;
          padding-left: 2em;
        }
      }
      .image {
        flex: 1;
        display: block;
        //flex-basis: 234px;
        padding-right: 1em;
      }
    }

    // associations
    .associations {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2em;;

      .text {
        text-align: center;
        width: 500px;

      }
      .image {
        margin-top: 1em;
      }
    }
	}


} //.page-template-page-about
