// APPOINTMENTS PAGE
.page-template-page-appointments {

	.overview {
		padding-top: 1em;

		.subflex {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

  .contactinfo {  // CONTACTINFO
    color: #fff;
    @include bleeding-margin($green1);
    padding-top: 0em;
    padding-bottom: 2em;

    h1 {
      padding: 0em;
    }
    h2 {
      margin-top: 0;
      color: #fff;
    }
    .text a, .text a:visited {
    	color: $yellow;
    }


    .graphic, .image {
      display: none;
    }
  }
  .footer-hr {
    border-bottom: 0;
  }

  /************ media queries ***************
  *******************************************/
  @media only screen and (min-width: 760px) {
    .overview {
      padding-bottom: 2em;
      h1 {
        padding: 0;

      }
      .subflex {
      	flex-direction: row;
        padding-top: 3em;
        .title {
          flex: 1.6;
          width:100%;
          padding-right: 2em;
        }
        .text {
          flex: 2;
          padding-right: 0em;
          width:100%;
        }
      }
    }

     // contactinfo
     .contactinfo {
      display: flex;
      padding-top: 0;

      .graphic {
        display: block;
        padding-top: 3.5em;
        padding-left: 2.5em;
        flex: 1;
      }
      .image {
        flex: 1.7;
        display: block;
        margin-left: 2em;
        margin-right: 1em;
        text-align: right;
        img {
          //@include halfsizeImg(454, 535);
        }
      }
      .text {
        flex: 3;
        font-weight: normal;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-top: 0;
      }
    }



  }




} //.page-template-page-about
