/* Default HTML - default styles for base elements
------------------------------------------------- */

/* Based upon HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Note: Most of these have been adapted slightly for the NERRA website.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

// content-box | padding-box | border-box
* { @include box-sizing(border-box); }


// Prevent horizontal scrolling
html, body {
  max-width: 1000px;
  overflow-x: hidden;
  margin: 0 auto;
}

html {
	font-size: 62.5%;
}

body {
  @include rem(font-size, $font_size);
  line-height: 1.3;
  font-family: $font_for_text;
  font-weight: 300;
  color: $color_text;

  // For smoother fonts
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
  color: $color_text;
  background-color: #fff;
  padding-bottom: 2em;
}

// Responsive images
img { max-width: 100%; height: auto; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background-color: #fff;
  color: #ccc;
  text-shadow: none;
}
::selection {
  background-color: #fff;
  color: #ccc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

a, a:visited {
	text-decoration:none;
	color: $yellow;
	&:hover {
		color: gray;
	}
	img {
		border: none;
	}
}

h1, h2 {
  margin:0;
	font-family: $font_for_title;
	color: $color_title;
	font-weight: 700;
  padding: 1em 0 .3em 0;
}

h1 {
  @include rem(font-size, 30px);
  text-transform: uppercase;
  line-height: 1.2;
}
h2 {
  @include rem(font-size, 20px);
  line-height: 1.2;

}

p, ul, ol {
	border: 0;
	margin: 0 0 1em 0;
	padding: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

.title, .text {
  margin: 0; padding: 0;
}
