section {
  padding: 0;
  padding-bottom: 1em;
}
.overview { // OVERVIEW
  display: flex;
  flex-direction: column;
  align-items: center;
}

a, a:visited {
  color: #000;
  font-weight: bold;
  &:hover {
    color: #aaa;
  }
}


@media only screen and (min-width: 760px) {
  section {
    padding-bottom: 2em;
  }
  h1 { @include rem(font-size, 35px); }
  h2 { @include rem(font-size, 25px); }
  h1, h2 { 
    padding-top: 2em;
    padding-bottom: .5em;
  }
  .text { 
    @include rem(font-size, 17px); 
  } 
}





