// CONTACT PAGE
.page-template-page-contact {

  .overview {
  	padding-top: 1em;
    text-align: center;

    h2 { // used to hightlight contact points
      padding-right: .2em;
      padding-bottom: 0;
      padding-top: .5em;
      display: inline-block;
    }
    .text {
      text-align: center;
      width: 100%;
      padding-top:1em;
      ul {
        //border: 1px solid black;
        text-align: left;
        list-style-type: none;
        width: 100%;
      }

    }
  }

  .directions {  // DIRECTIONS
    color: #fff;
    @include bleeding-margin($green3);

    h2 {
      color: #000;
      margin-top: 0;
    }

    .image {
      display: none;
    }

    .iframe {
      border: 2px solid $green1;
    }
  }

  .giftcertificates {
    display: flex;
    color: #fff;
    @include bleeding-margin($green1);
    padding-bottom: 1em;
    h2 {
      color: #fff;
    }
    .image {
      flex: 1;
      display: none;
    }
    .text {
      flex: 3;
    }
  }

  .footer-hr {
    border-bottom: 0;
  }



  /************ media queries ***************
  *******************************************/


  @media only screen and (min-width: 645px) {
    .overview {
      h2 {
        padding-right: .5em;
      }
      .text {
        width: 65%;
      }
    }
  }

  @media only screen and (min-width: 760px) {
    .directions {
      display: flex;

      .image {
        display: block;
        margin-left: 3em;
        margin-right: 1em;
        //flex: 1;
      }
      .text {
        flex: 1;
        align-self: center;
        margin-bottom: 3em;

        h2 {
          padding-top: 1.9em;
          padding-left: 1.5em;
        }
      }

      .iframe {
        border: 3px solid $green1;
        margin-left: 2em;
      }
    }

    .giftcertificates {
      padding-bottom: 2em;
      .image {
        display: block;
        padding-top: 2em;
        padding-left: 2em;
      }
      .text {
        text-align: center;
        padding-right: 11em;
        font-weight: normal;
      }

    }
  }



} //.page-template-page-contact
