.footer-hr {
  margin-top: 0;
  margin-bottom: 6em;
  @include divline($gray2);
}

.site-footer {
  display: flex;
  padding-top: 0em;
  @include rem(font-size, 14px);
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;

  .footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .address {
      flex: 1;
      flex-basis: 380px;
      margin-right: 2em;
      margin-bottom: 1em;
    }

    .asa-certified {
      flex: 1;
      flex-basis: 414px;
      //text-align: left;
    }
  } //footer-top

  .footer-bottom {
    padding-top: .5em;
    display: flex;
    flex-direction: row;

    .social {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-top: 1em;
      flex: 1;
      span {
        padding-left: .5em;
      	@include rem(font-size, 8px);
      }
    }
    .asa {
      margin-top: 1em;
      flex: 1;
      text-align: right;
    }
  } //footer-bottom


}

@media only screen and (min-width: 760px) {
  .site-footer {
    padding-left: 1em;
    @include rem(font-size, $font_size);
    .footer-top {
      flex-wrap: nowrap;
      .asa-certified {
        text-align: right;
      }
    }
    .footer-bottom {
      padding-top: 0;

      .social span {
        @include rem(font-size, 12px);
      }

      .asa {
        //text-align: right;
      }
    }
  }

}

@media only screen and (min-width: 875px) {
  .site-footer {
      padding-left: 0;
    .footer-top {
      display: flex;
      .address {
        margin-right: 2em;
        margin-bottom: 1em;
        font-weight: normal;
      }

    } //footer-top

    .footer-bottom {
      display: flex;
      flex-direction: row;

      .social {
        margin-top: 1em;
        flex: 2.5;
        span {
          padding-left: 1em;
        }
      }
      .asa {
        margin-top: 1em;
        flex: 1;
      }
    } //footer-bottom
  }
}
