/* =============================================================
   Helper classes
 * ============================================================= */


.hide {
  display: none !important;
}
.hidden {
	visibility: hidden;
}

.hr {
  @include divline($gray2);
}

.oncolorbg {
  font-weight: 400; // roboto condensed normal
}

.sassybutt { // used for menu buttons
  @include sassy-button();
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  @include rem(font-size, 11px);
  padding-top: .25em;
  a, a:visited {
    display: inline-block;
    width: 100%;
    color: #fff;
    &:hover {
      color: $yellow;
    }
  }
}

