// HOME
.page-template-page-home {

  h1 {
    @include rem(font-size, 20px);
  }

  .overview {
    padding-bottom: 0;
    padding-top: 1em;
    .image {
      @include fourfifthsizeImg(335, 252);
    }
    .subflex {
      .graphic {
        text-align: right;
        img { display: none; }
      }
      .text {
        text-align: center;
        .graphic-textonly {
        	font-style: italic;
        }
      }
    }
  }

  .info {
    display: none;
  }

  span.footer-hr, .footer-hr {
    display: none;
  }

.tips {
  display: flex;
	@include bleeding-margin($green1);
	padding-bottom: 0em;

  .image {
    flex: 2;
    display: block;
    padding-top: 2.5em;
    padding-left: 5%;
    order: 2;
  }
  .subflex {
    flex: 2;
    order: 1;
    color: #fff;
    padding-left: 1em;
    .title {
      h2 {
        padding-top: 1.5em;
        @include rem(font-size, 24px);
				color: #fff;
      }
    }
    .text {
      @include rem(font-size, 14px);
      padding-bottom: .5em;
    }
    .graphic {
      text-align: left;
      img { width: 100px; }
    }
  }
  .medallion {
    display: none;//block;
  }
}

  /************ media queries ***************
  *******************************************/

  @media only screen and (min-width: 760px) {

    h1 {
      @include rem(font-size, 35px);
      text-transform: uppercase;
      line-height: 1.2;
      padding-top: 1em;
      padding-bottom: 0em;
    }

    .overview {

      .image {
        display: block;
        @include fullsizeImg(335, 252);
      }
      .subflex {
        display: flex;
        //border: 1px solid green;
        width: 73%;
        align-self: flex-end;

        .text {
          flex: 5;
          @include rem(font-size, 20px);

          align-self: center;
          padding-top: .5em;
          padding-bottom: 1em;
          .graphic-textonly { display: none;}
        }
        .graphic {
          flex: 3;
          /* padding-right: 5em; */
          padding-left: 2em;
          img { display: block;}
        }
      }
    }

    .tips {
      display: flex;

      .image {
        flex: 2;
        order: 1;
        display: block;
        padding-top: 2.5em;
        padding-left: 5%;
      }
      .subflex {
        flex: 2;
        order: 2;
        color: #fff;
        padding-left: 1em;
        .title {
          h2 {
            padding-top: 1.5em;
            @include rem(font-size, 40px);

          }
        }
        .text {
          @include rem(font-size, 20px);
        }
        .graphic {
          text-align: left;
          img { width: 114px; }
        }
      }
      .medallion {
        flex: 1;
        order: 3;
        background: $green2;
        width: 100%;
        display: block;
        margin-right: 1em;
        text-align: center;
        padding-top: 2em;
      }
    }

    .info {
      display: flex;
      @include rem(font-size, 20px);
      padding-top: 0em;
      align-items: center;

      .hours {
        flex-grow: 1;
        flex-shrink: 1;
        text-align: right;
      }

      .image {
        flex-basis: 98px;
        flex-grow: 1;
        flex-shrink: 1;

        padding-left: 5%;
        padding-right: 5%;
      }
      .address {
        flex-grow: 1.5;
        flex-shrink: 1;
        //text-align: left;
        width: 245px;
        padding-right: 2em;
      }
    }

    span.footer-hr {
      display: block;
      padding-top: 3em;
    }
  }






} //.page-template-page-home
