.site-wrapper {
  padding: 0 1em 0 1em;

  .site-content {
    margin-top: 5%;
  }

}

@media only screen and (min-width: 625px) {
  .site-wrapper {
    padding-top: 3%;

  }
}

@media only screen and (min-width: 765px) {
  .site-wrapper {
    padding-top: 5%;
  }
}

