.site-header {

  .site-branding {
  	position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .site-logo {
      order: 1;
      flex: 8;
      margin-top: 1em;
    }

    .toggleMenu { //hamburger lines
      order: 2;
      flex: 1;

      margin-left: .5em;

      @include rem(font-size, 35px); //hamburger lines
      font-family: $font_for_title;
      color: gray;
      font-weight: bold;

      &:hover {
        color: #ddd;
      }
    }
  }

  .site-navigation ul { // menu
  	z-index: 50;
    display: flex;
    justify-content: space-around;

    @include horizontal-list();

    li a {
      display: inline-block;
      padding-bottom: 1em;
    }
  }
}


@media only screen and (min-width: 760px) {
  .site-wrapper {
    .site-header {
      display: flex;
      justify-content: space-between;

      .site-branding {
        order: 1;
        flex-grow: 12;
        flex-shrink: 1;

        .site-logo {
          margin-top: 0em;
        }
        .toggleMenu {
          display: none;
        }
      }
      .site-navigation {
        order: 2;
        flex-grow: 1;
        flex-shrink: 1;

        ul#primary-menu.menu {
          display: flex !important;
          margin-left: 15%;

          li {
            margin-left: .5%;
          }
        }
      }
    }
  }
}
