// ROADWISE TIPS PAGE
.page-template-page-roadwise {

  .overview {
		padding-top: 1em;
  }

	.roadwise {
		display: flex;
		//flex-direction: column;
		@include bleeding-margin($green1);
		color: #fff;

		h1 {
			color: #fff;
			margin: 0; padding: 0;
		}
		.title {
			flex: 1;
			padding-top: 1em;
			padding-left: 0em;
		}
		.text {
			flex: 1.3;
			padding: 1em 0em 2em 1em;
			font-weight: normal;
		}
		.image {
			flex: 1;
			display: none;
		}
	}

	.tipslist {
		padding-top: 2em;
		margin-left: 1em;
		.text {
			li {
				margin-bottom: 1em;
			}
		}
	}


	/************ media queries ***************
	*******************************************/

	@media only screen and (min-width: 760px) {

		.roadwise {

			.title {
				flex: 1.3;
				h1 {
					padding-top: .5em;
					padding-left: 1em;
				}
			}

			.text {
				flex: 1.8;
				padding: 2em 2em 2em 1em;
			}
			.image {
				display: block;
			}

		} // .roadwise

		.tipslist {
			width: 100%;
			padding-left: 15%;
			padding-top: 3em;

			.text {
				width: 70%;
			}
		}
	} // @media

} // page-template-page-roadwise
