@import "sassy-buttons";

//   Sassy Button defaults
//   These are the base defaults for the buttons, if you are going to use similar buttons on an entire site,
//   overriding these can save you some time by calling the sassy button mixin with less arguments.

$sb-base-color:  #aaa;
$sb-second-color: #000;
$sb-border-radius: 3px;
$sb-padding: 0;
$sb-font-size: 14px;
$sb-text-color: #fff;
$sb-text-style: "inset";
$sb-gradient-style: "simple";
$sb-pseudo-states: true;
$sb-ie-support: true;

//  Mixin that gets included when calling the sassy-button-structure if you need any
//  styles applied to all your sassy buttons, add it here.

@mixin sassy-button-default-structure {
  display: inline-block;
  width: 100px;
  height: 22px;
  cursor: pointer;
}
//  *    Mixin reference
//  *   -----------------------------------------
//  *   @include sassy-button(gradient-style, border-radius, font-size, first-color, second-color, text-color, text-style, auto-states, ie-support);
//  *   @include sassy-button-structure(-border-radius, font-size, padding);
//  *   @include sassy-button-gradient(gradient-style, first-color, second-color, text-color, text-style, auto-states, ie-support);
