// SERVICE PAGE
.page-template-page-service {

	.overview {
		padding-top: 1em;

		.subflex {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}
  .diagnostics {  // DIAGNOSTICS
    color: #fff;
    @include bleeding-margin($green1);

    h2 {
      margin-top: 0;
      //padding-top: 2em;
      color: #fff;
    }

    .image {
      display: none;
    }
  }

  .maintenance { // MAINTENANCE
    @include bleeding-margin($green3);
    padding-bottom: 1em;

    h2 {
      margin-top: 0;
      //padding-top: 2em;
      //margin-bottom: 1em;
    }
    .text {
      text-align: left;
      //padding-bottom: 1em;
    }
  }


  .hybrids { // HYBRIDS
    //padding-top: 2em;
    //padding-bottom: 2em;

    .image {
      display: none;
    }

    h2 {
      //margin: 0 0 2em 0;
    }
  }

  .repairs { // REPAIRS
    //margin-top: 2em;
    h2 {
      //margin-top: 0;
      //padding-top: 2em;
      //margin-bottom: 1em;
    }
    .text {
      text-align: left;
      //padding-bottom: 1em;
    }
  }

  .repairsdetail {

    display: flex;
    background: $gray2;
    padding-bottom: 0;

    .text {
      flex: 1;
      order: 2;
      padding-right: 1em;
      font-size: 17px;

      ul {
        list-style-position: inside;
        margin-left: 1em;
        padding-top: 1em;
        li {
          @include rem(font-size, 15px);
          line-height: 1.2;
        }
      }
    }
    .image {
      display: none;
      flex: 1;
      order: 1;
    }

  }


  /************ media queries ***************
  *******************************************/

  @media only screen and (min-width: 760px) {
    .overview {
      padding-bottom: 2em;
      h1 {
        padding: 0;
        //padding-right: 2em;
      }
      .subflex {
      	flex-direction: row;
        padding-top: 3em;
        .title {
          flex: 1.6;
          padding-right: 2em;
          width: 100%; // ie 10/11 fix
        }
        .text {
          flex: 2;
          padding-right: 0em;
        }
      }
    }

    // diagnostics
    .diagnostics {
      display: flex;

      .image {
        display: block;
        margin-left: 3em;
        margin-right: 1em;
        img {
          @include halfsizeImg(454, 535);
        }
      }
      .title {
        padding-left: 10em;
      }
      .text {
        flex: 1;
        margin-bottom: 3em;
        padding-left: 10em;
      }
    }

    // maintenance
    .maintenance {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3em;

      .text {
        text-align: center;
        width: 625px;

      }
    }

    // hybrids
    .hybrids {
      display: flex;
      padding-top: 3em;
      padding-bottom: 3em;
      margin: 0 auto;
      width: 800px;

      h2 {
        padding-top: 0;
      }
      .image {
        display: block;
        flex: 1;
        padding-left: 5em;
        img {
          //@include fullsizeImg(245, 244);
        }
      }
      .text {
        flex: 2.8;
        padding-left: 0em;
        padding-right: 5em;
      }
    }

    // repairs
    .repairs {
    	text-align: center;
    	width: 100%;

      h2 {
        padding-top: 1.5em;
      }
      .text {
      	text-align: center;
      	padding-left: 25%;
      	width: 80%;
      }
    }
    .repairsdetail {

      .image {
        display: block;
        margin: 0; padding: 0;
        flex: .5;
      }
      .text {
        padding-top: 0em;
        ul {
          list-style-position: inside;
          padding-left: .5em;
          padding-top: 1em;
          li {
            @include rem(font-size, 14px);
            line-height: 1.28;
          }
          }
      }
    }

    @media only screen and (min-width: 910px) {

      .repairsdetail {
        .text {
          padding-top: 1em;
          ul {
            li {
              @include rem(font-size, 17px);
              line-height: 1.3;
            }
          }
        }
      }
    }

  }









} //.page-template-page-about
