/* ============================================================
   CSS Variables
 * ============================================================ */



$yellow:  #ffe14f;
$gray1:   #282828;
$gray2:   #ddd;
$green1:  #475e2a;
$green2:  #5a6e3e; //#92a76f;
$green3:  #dee4d4;


$font_size: 15px;
$font_for_text: 'Roboto Condensed', sans-serif;
$font_for_title: 'Oswald', sans-serif;
$color_text:  $gray1;
$color_title: #000;
