/* line 4, ../sass/about.scss */
.page-template-page-about .overview {
  background: #3498db;
}
/* line 10, ../sass/about.scss */
.page-template-page-about .history {
  background: #f1c40f;
}
/* line 16, ../sass/about.scss */
.page-template-page-about .staff {
  background: #e74ece;
}
/* line 22, ../sass/about.scss */
.page-template-page-about .associations {
  background: #e67e22;
}
