/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  http://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */
@media print {
  /* line 12, ../sass/print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 22, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 27, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 31, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 40, ../sass/print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 45, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 56, ../sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 60, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 65, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 69, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 76, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
